<div class="container">
  <header class="jumbotron head">
    <h2>YOUR ADMIN BOARD</h2>
  </header>
  <h2 *ngIf="!isShown">Users :</h2>
  <div class="table-container" *ngIf="!isShown">
    <table class="users-table">
      <tr class="users-table">
        <th class="users-table">Id</th>
        <th class="users-table">Username</th>
        <th class="users-table">Email</th>
        <th class="users-table">Password</th>
        <th class="users-table">First Name</th>
        <th class="users-table">Last Name</th>
        <th class="users-table">Created</th>
        <th class="users-table">Updated</th>
        <th class="users-table">Phone</th>
        <th class="users-table">Address</th>
        <th class="users-table">Role</th>
        <th class="users-table">Update</th>
        <th class="users-table">Delete</th>
      </tr>
      <tr class="users-table" *ngFor="let user of content">
        <th class="users-table">{{ user.id }}</th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.username" />
        </th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.email" />
        </th>
        <th class="users-table">
          <input
            readonly
            class="input"
            type="password"
            [value]="user.password"
          />
        </th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.firstName" />
        </th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.lastName" />
        </th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.created" />
        </th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.updated" />
        </th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.phone" />
        </th>
        <th class="users-table">
          <input readonly class="input" type="text" [value]="user.addresse" />
        </th>
        <th class="users-table">
          <input
            readonly
            class="input"
            type="text"
            [value]="user.roles[0].name"
          />
        </th>
        <th class="users-table">
          <button class="button-update" (click)="updateUser(user.id)">
            update
          </button>
        </th>
        <th class="users-table">
          <button class="button-delete" (click)="deleteUser(user.id)">
            delete
          </button>
        </th>
      </tr>
    </table>
  </div>
  <div class="form-container" *ngIf="isShown">
    <form [formGroup]="formUser">
      <table class="form-table">
        <tr class="form-table">
          <th class="form-table">
            <strong>Username: </strong>
          </th>
          <th class="form-table">
            <input type="text" [formControlName]="'username'" />
          </th>
        </tr>
        <tr class="form-table">
          <th class="form-table">
            <strong>Email: </strong>
          </th>
          <th class="form-table">
            <input type="email" [formControlName]="'email'" />
          </th>
        </tr>
        <tr class="form-table">
          <th class="form-table">
            <strong>password: </strong>
          </th>
          <th class="form-table">
            <input type="password" [formControlName]="'password'" />
          </th>
        </tr>
        <tr class="form-table">
          <th class="form-table">
            <strong>First Name: </strong>
          </th>
          <th class="form-table">
            <input type="text" [formControlName]="'firstName'" />
          </th>
        </tr>
        <tr class="form-table">
          <th class="form-table">
            <strong>Last Name: </strong>
          </th>
          <th class="form-table">
            <input type="text" [formControlName]="'lastName'" />
          </th>
        </tr>

        <tr class="form-table">
          <th class="form-table">
            <strong>Address: </strong>
          </th>
          <th class="form-table">
            <input type="text" [formControlName]="'addresse'" />
          </th>
        </tr>
        <tr class="form-table">
          <th class="form-table">
            <strong>Phone Number: </strong>
          </th>
          <th class="form-table">
            <input type="number" [formControlName]="'phone'" />
          </th>
        </tr>
      </table>
      <button class="button-save" (click)="saveUser()">save</button
      ><button class="button-cancel" (click)="toggleShow()">cancel</button>
    </form>
  </div>
</div>
